MYSQL_DATABASE=ai_attendance_db
MYSQL_USER=attendance_user
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me
MYSQL_HOST=db
MYSQL_PORT=3306
DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
